// VARIABLES SECTION
$commissioner: 'Commissioner', sans-serif; // Commissioner
$primary-font-size: 16px; // Body font-size
$primary-line-height: 1.25; // Body line-height
$primary-color: #202020;
$black-color: #18191F;
$white-color: #FFFFFF;
$blue-1-color: #0620B3;
$blue-2-color: #051DA1;
$blue-3-color: #051A8F;
$blue-4-color: #04167D;
$blue-5-color: #04136B;
$blue-6-color: #031059;
$blue-7-color: #020D48;
$blue-8-color: #020A36;
$blue-9-color: #010624;
$blue-legacy-color: #18335E;
$contra-blue-color: #E9E7FC;
$yellow-color: #FEDA3D;
$orange-color: #FB8B01;
$red-color: #E82728;
$dark-red-color: #C81B00;
$green-color: #45D19D;
$green-hover-color: #13BF7F;
$blue-shadow: 0px 4px 0px #04136B;
$blue-shadow-active: 0px -4px 0px #04136B;

// COMMON DOCUMENT STYLES
body {
	position: relative;
	overflow-x: hidden;
    min-width: 1124px;
    font-family: $commissioner;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
    color: $white-color;
    background: $blue-3-color;
}

ul,
ol,
li {
	display: block;
	padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

p {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    transition: all 0.5s;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

svg path,
svg line,
svg circle {
    transition: fill 0.5s, stroke 0.5s;
}

// COMMON FOR PAGE ˆ
.scroll-disabled {
    overflow: hidden;
}

.container {
	margin: 0 auto;
    max-width: 1124px;
}

.green {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #0E9462;
    .input-group {
        &__input {
            border: 2px solid #000;
        }
    }
    .btn-checkbox {
        &__input {
            &:checked ~ .btn-checkbox__group {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #0E9462;
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &__group {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0E9462;
            &:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #0E9462;
            }
        }
    }
    .btn {
        &--blue,
        &--green {
            border: 2px solid #000;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            &:hover,
            &:focus,
            &:active {
                color: $white-color;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0E9462;
            }
            &:focus {
                box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            }
            &:active {
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &--blue {
            background: #0E9462;
        }
        &--green {
            background: $green-color;
        }
    }
    .tabs--ultra .tabs__content {
        background: #0E9462;
    }
    .tabs__button {
        background: #0E9462;
    }
    .inventory {
        &__item {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0E9462;
            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #0E9462;
            }
        }
    }
    .streamer-info {
        &__ava {
            background: #0E9462;
        }
        &__icon {
            background-color: #0E9462;
        }
    }
}

.purple {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #730E9B;
    .input-group {
        &__input {
            border: 2px solid #000;
        }
    }
    .btn-checkbox {
        &__input {
            &:checked ~ .btn-checkbox__group {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #730E9B;
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &__group {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #730E9B;
            &:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #730E9B;
            }
        }
    }
    .btn {
        &--blue,
        &--green {
            border: 2px solid #000;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            &:hover,
            &:focus,
            &:active {
                color: $white-color;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #730E9B;
            }
            &:focus {
                box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            }
            &:active {
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &--blue {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #730E9B;
        }
        &--green {
            color: $white-color;
            background: #730E9B;
        }
    }
    .tabs--ultra .tabs__content {
        background: #730E9B;
    }
    .tabs__button {
        background: #730E9B;
    }
    .inventory {
        &__item {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #730E9B;
            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #730E9B;
            }
        }
    }
    .streamer-info {
        &__ava {
            background: #730E9B;
        }
        &__icon {
            background-color: #730E9B;
        }
    }
}

.red {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #B51024;
    .input-group {
        &__input {
            border: 2px solid #000;
        }
    }
    .btn-checkbox {
        &__input {
            &:checked ~ .btn-checkbox__group {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #B51024;
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &__group {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #B51024;
            &:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #B51024;
            }
        }
    }
    .btn {
        &--blue,
        &--green {
            border: 2px solid #000;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            &:hover,
            &:focus,
            &:active {
                color: $white-color;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #B51024;
            }
            &:focus {
                box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            }
            &:active {
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &--blue {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #B51024;
        }
        &--green {
            color: $white-color;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #B51024;
        }
    }
    .tabs--ultra .tabs__content {
        background: #B51024;
    }
    .tabs__button {
        background: #B51024;
    }
    .inventory {
        &__item {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #B51024;
            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #B51024;
            }
        }
    }
    .streamer-info {
        &__ava {
            background: #B51024;
        }
        &__icon {
            background-color: #B51024;
        }
    }
}

.orange {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #AF6204;
    .input-group {
        &__input {
            border: 2px solid #000;
        }
    }
    .btn-checkbox {
        &__input {
            &:checked ~ .btn-checkbox__group {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #AF6204;
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &__group {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #AF6204;
            &:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #AF6204;
            }
        }
    }
    .btn {
        &--blue,
        &--green {
            border: 2px solid #000;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            &:hover,
            &:focus,
            &:active {
                color: $white-color;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #AF6204;
            }
            &:focus {
                box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            }
            &:active {
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &--blue {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #AF6204;
        }
        &--green {
            color: $white-color;
            background: #AF6204;
        }
    }
    .tabs--ultra .tabs__content {
        background: #AF6204;
    }
    .tabs__button {
        background: #AF6204;
    }
    .inventory {
        &__item {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #AF6204;
            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #AF6204;
            }
        }
    }
    .streamer-info {
        &__ava {
            background: #AF6204;
        }
        &__icon {
            background-color: #AF6204;
        }
    }
}

.black {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #1F1F1F;
    .input-group {
        &__input {
            border: 2px solid #000;
        }
    }
    .btn-checkbox {
        &__input {
            &:checked ~ .btn-checkbox__group {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #1F1F1F;
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &__group {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1F1F1F;
            &:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #1F1F1F;
            }
        }
    }
    .btn {
        &--blue,
        &--green {
            border: 2px solid #000;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            &:hover,
            &:focus,
            &:active {
                color: $white-color;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #1F1F1F;
            }
            &:focus {
                box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
            }
            &:active {
                box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
            }
        }
        &--blue {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1F1F1F;
        }
        &--green {
            color: $white-color;
            background: #1F1F1F;
        }
    }
    .tabs--ultra .tabs__content {
        background: #1F1F1F;
    }
    .tabs__button {
        background: #1F1F1F;
    }
    .inventory {
        &__item {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1F1F1F;
            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), #1F1F1F;
            }
        }
    }
    .streamer-info {
        &__ava {
            background: #1F1F1F;
        }
        &__icon {
            background-color: #1F1F1F;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10.5px 14px;
    min-width: 133px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: $white-color;
    background: transparent;
    border: 2px solid $blue-5-color;
    border-radius: 16px;
    box-shadow: $blue-shadow;
    transition: color 0.4s, background 0.4s, box-shadow 0.1s;
    span + svg {
        margin-left: 7px;
    }
    &:focus {
        outline: none;
        box-shadow: $blue-shadow;
    }
    &--sm {
        padding: 2.5px 32px;
    }
    &--md {
        padding: 10.5px 22.5px;
    }
    &--green {
        color: $blue-9-color;
        background: $green-color;
        &:hover,
        &:focus,
        &:active {
            color: $blue-9-color;
            background: $green-hover-color;
        }
        &:active {
            color: $blue-9-color;
            box-shadow: $blue-shadow-active;
        }
    }
    &--blue {
        color: $white-color;
        background: $blue-1-color;
        &:hover,
        &:focus,
        &:active {
            color: $white-color;
            background: $blue-3-color;
        }
        &:active {
            color: $white-color;
            box-shadow: $blue-shadow-active;
        }
    }
    &--discord {
        padding: 8px 50px;
        background: #5865F2;
        &:hover,
        &:focus,
        &:active {
            background: linear-gradient(0deg, rgba(6, 32, 179, 0.5), rgba(6, 32, 179, 0.5)), #5865F2;
        }
        &:active {
            box-shadow: $blue-shadow-active;
        }
    }
    &--link {
        padding: 5.5px 21px;
        font-size: 16px;
        font-weight: 500;
        color: $white-color;
        background: $blue-2-color;
        border-radius: 8px;
        box-shadow: none;
        &:hover,
        &:focus,
        &:active {
            color: $yellow-color;
            background: $blue-2-color;
        }
        &:active {
            color: $orange-color;
            box-shadow: none;
        }
    }
    &--transparent {
        border: none;
        box-shadow: none;
    }
    &--disabled {
        svg, span {
            opacity: 0.5;
        }
    }
    svg + span {
        margin-left: 8px;
    }
    span {
        display: inline-block;
    }
}

.connect-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 17px;
    min-width: 162px;
    min-height: 43px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4s;
    span + svg {
        margin-left: 7px;
    }
    &:focus {
        outline: none;
    }
    &--green {
        color: $blue-9-color;
        background: #80F5D2;
        border: 2px solid rgba($blue-9-color, 0.3);
        &:hover,
        &:focus,
        &:active {
            color: $blue-9-color;
            border: 2px solid rgba($white-color, 0.5);
        }
        &:active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #80F5D2;
        }
    }
    &--blue {
        color: $blue-9-color;
        background: #2DAAE1;
        border: 2px solid rgba($blue-9-color, 0.3);
        &:hover,
        &:focus,
        &:active {
            color: $blue-9-color;
            border: 2px solid rgba($white-color, 0.5);
        }
        &:active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #2DAAE1;
        }
    }
    &--black {
        color: $white-color;
        background: #020B20;
        border: 2px solid rgba($white-color, 0.1);
        &:hover,
        &:focus,
        &:active {
            color: $white-color;
            border: 2px solid rgba($white-color, 0.5);
        }
        &:active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #020B20;
        }
    }
    &--gray {
        color: $white-color;
        background: #1F1F1F;
        border: 2px solid rgba($white-color, 0.1);
        &:hover,
        &:focus,
        &:active {
            color: $white-color;
            border: 2px solid rgba($white-color, 0.5);
        }
        &:active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #1F1F1F;
        }
    }
}

.input-link {
    display: block;
    padding-bottom: 4px;
    width: 100%;
    appearance: none;
    font-size: 16px;
    font-weight: 500;
    color: $green-color;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $green-color;
    border-radius: 0;
    transition: color 0.4s,  border 0.4s;
    &:hover {
        color: $yellow-color;
        border-bottom: 2px solid $yellow-color;
    }
    &:focus {
        outline: none;
        color: $orange-color;
        border-bottom: 2px solid $orange-color;
    }
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &--column {
        flex-direction: column-reverse;
    }
    &--reverse {
        flex-direction: row-reverse;
    }
    &--xl {
        max-width: 380px;
    }
    &--lg {
        max-width: 322px;
    }
    &--md {
        max-width: 201px;
    }
    &--sm {
        max-width: 164px;
    }
    &--m {
        max-width: 133px;
    }
    &__link {
        position: absolute;
        top: 50%;
        right: 12.5px;
        transform: translateY(-50%);
        z-index: 1;
        font-size: 12px;
        font-weight: normal;
        line-height: 2.4;
        color: $green-color;
        &:hover {
            color: $green-hover-color;
        }
        &:focus {
            outline: none;
            color: $green-hover-color;
        }
    }
    &__link + &__input {
        padding: 6px 60px 6px 16px;
    }
    &__select {
        max-width: 118px!important;
        height: 44px!important;
        .select-box {
            &__label,
            &__selected {
                font-size: 12px;
                font-weight: 600;
                svg {
                    width: 16px;
                }
                svg + span {
                    margin-left: 6px;
                }
            }
            &__selected {
                padding: 8px 9px;
                border: 2px solid $blue-6-color;
                border-radius: 0 16px 16px 0;
                &::after {
                    background-size: 9px;
                }
                &--active {
                    border: 2px solid $green-color;
                }
            }
            &__option {
                padding: 7px 11px;
            }
        }
    }
    &__select + &__input {
        border-radius: 16px 0 0 16px;
    }
    &__input,
    &__textarea {
        display: block;
        padding: 6px 16px;
        width: 100%;
        appearance: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
        color: $black-color;
        background: $white-color;
        border: 2px solid $blue-6-color;
        border-radius: 16px;
        transition: all 0.3s;
        &::placeholder {
            color: $black-color;
        }
        &:hover {
            border: 2px solid rgba($green-color, 0.4);
        }
        &:focus {
            outline: none;
            border: 2px solid $green-color;
        }
        &--light {
            padding: 11px;
            font-size: 16px;
            line-height: 1.3;
            color: $white-color;
            background: $blue-4-color;
            border: 2px solid rgba($white-color, 0.1);
            border-radius: 10px;
            &::placeholder {
                color: rgba($white-color, 0.4);
            }
            &:hover {
                border: 2px solid rgba($green-color, 0.5);
            }
            &:focus {
                outline: none;
                border: 2px solid $green-color;
            }
        }
        &--dark {
            padding: 11px;
            font-size: 16px;
            line-height: 1.3;
            color: $white-color;
            background: rgba(0, 0, 0, 0.5);
            border: 2px solid rgba(0, 0, 0, 0.6);
            border-radius: 10px;
            &::placeholder {
                color: $white-color;
            }
        }
        &--error {
            border: 2px solid $red-color;
            &:hover,
            &:focus {
                border: 2px solid $red-color;
            }
            & + .input-group__error {
                display: block;
            }
        }
    }
    &__input[disabled],
    &__textarea[disabled] {
        background: rgba($white-color, 0.7);
        &:hover {
            border: 2px solid $blue-6-color;
        }
    }
    &__input[type=number] {
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
            appearance: none;
            margin: 0;
        }
    }
    &__textarea {
        resize: none;
        min-height: 150px;
    }
    &__error {
        position: absolute;
        bottom: 2px;
        transform: translateY(100%);
        z-index: 1;
        display: none;
        padding: 7px;
        width: 100%;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: $white-color;
        background: $red-color;
        border: 2px solid $red-color;
        border-radius: 10px;
        &::before {
            content: '';
            position: absolute;
            top: -5px;
            left: 20px;
            z-index: -1;
            display: block;
            width: 24px;
            height: 20px;
            background: $red-color;
            transform: rotate(45deg);
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        padding: 9px 11px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-right: 2px solid rgba(0, 0, 0, 0.6);
        border-bottom: 2px solid rgba(0, 0, 0, 0.6);
        border-left: 2px solid rgba(0, 0, 0, 0.6);
        border-radius: 0 0 10px 10px;
    }
    &__controls + &__textarea {
        border-radius: 10px 10px 0 0;
    }
    &__control {
        display: block;
        width: fit-content;
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        color: $white-color;
        &:focus {
            outline: none;
        }
        &:focus,
        &:hover {
            color: $green-color;
            svg path,
            svg circle {
                stroke: $green-color;
            }
        }
        &:active {
            color: $yellow-color;
            svg path,
            svg circle {
                stroke: $yellow-color;
            }
        }
    }
    &__control + &__control {
        margin-left: 12px;
    }
}

.select-box {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 322px;
    width: 100%;
    height: 46px;
    &--sm {
        max-width: 65px;
    }
    &--md {
        max-width: 91px;
    }
    &--lg {
        max-width: 163px;
    }
    &__selected {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        padding: 11px 9px;
        font-size: 16px;
        font-weight: normal;
        color: $white-color;
        background: $blue-4-color;
        border: 2px solid rgba($white-color, 0.1);
        border-radius: 10px;
        order: 0;
        cursor: pointer;
        transition: border 0.4s;
        &:hover {
            border: 2px solid rgba($green-color, 0.5);
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(../img/dist/sprite.svg#icon-caret);
            background-repeat: no-repeat;
            background-size: 12px;
            background-position: center center;
            transition: transform 0.3s;
        }
        svg + span {
            display: block;
            margin-left: 9px;
        }
        &--active {
            border: 2px solid $green-color;
            &:hover {
                border: 2px solid $green-color;
            }
            &::after {
                transform: translateY(-50%) rotate(-180deg);
            }
        }
    }
    &__container {
        position: absolute;
        bottom: -5px;
        transform: translateY(100%);
        z-index: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        visibility: hidden;
        order: 1;
        width: 100%;
        max-height: 202px;
        opacity: 0;
        color: $white-color;
        background: $blue-4-color;
        border: 2px solid rgba($white-color, 0.1);
        border-radius: 10px;
        transition: all 0.4s;
        &--active {
            visibility: visible;
            opacity: 1;
        }
    }
    &__option {
        padding: 9px 11px;
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        color: $white-color;
        transition: all 0.4s;
        &:hover {
            background: rgba($white-color, 0.1);
        }
        &--active {
            color: $yellow-color;
        }
    }
    &__option + &__option {
        border-top: 2px solid rgba($white-color, 0.1);
    }
    &__radio {
        display: none;
    }
    &__label {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        cursor: pointer;
        svg + span {
            display: block;
            margin-left: 10px;
        }
    }
}

.square-checkbox {
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    &__input {
        display: none;
        &:checked ~ .square-checkbox__icon {
            background-color: $green-color;
            background-image: url(../img/dist/sprite.svg#icon-checkbox);
        }
    }
    &__icon {
        display: block;
        margin-right: 8px;
        min-width: 21px;
        min-height: 21px;
        max-width: 21px;
        max-height: 21px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 13px;
        background-position: center center;
        border: 2px solid $blue-6-color;
        border-radius: 5px;
    }
    &__label {
        display: block;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: $white-color;
        user-select: none;
        a {
            color: $green-color;
            &:focus {
                outline: none;
            }
            &:hover,
            &:focus {
                color: $yellow-color;
            }
            &:active {
                color: $orange-color;
            }
        }
    }
}

.circle-checkbox {
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    &__input {
        display: none;
        &:checked ~ .circle-checkbox__icon {
            background-color: $green-color;
            background-image: url(../img/dist/sprite.svg#icon-checkbox);
        }
    }
    &__icon {
        display: block;
        margin-right: 8px;
        min-width: 21px;
        min-height: 21px;
        max-width: 21px;
        max-height: 21px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 11px;
        background-position: center center;
        border: 2px solid $blue-6-color;
        border-radius: 50%;
    }
    &__label {
        display: block;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        color: $white-color;
        user-select: none;
        a {
            color: $green-color;
            &:focus {
                outline: none;
            }
            &:hover,
            &:focus {
                color: $yellow-color;
            }
            &:active {
                color: $orange-color;
            }
        }
    }
}

.circle-radio {
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    &__input {
        display: none;
        &:checked ~ .circle-radio__icon::before {
            opacity: 1;
        }
    }
    &__icon {
        position: relative;
        display: block;
        margin-right: 8px;
        min-width: 22px;
        min-height: 22px;
        max-width: 22px;
        max-height: 22px;
        background-color: $contra-blue-color;
        border: 2px solid $blue-5-color;
        border-radius: 50%;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 14px;
            height: 14px;
            opacity: 0;
            background: $green-color;
            border: 2px solid $blue-5-color;
            border-radius: 50%;
            transition: opacity 0.3s;
        }
    }
    &__label {
        display: block;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        color: $white-color;
        user-select: none;
    }
}

.btn-checkbox {
    display: block;
    margin: 0;
    cursor: pointer;
    &__input {
        display: none;
        &:checked ~ .btn-checkbox__group {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #0620B3;
            box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.7);
        }
    }
    &__group {
        display: flex;
        align-items: center;
        padding: 9px 16px;
        min-height: 45px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0620B3;
        border: 2px solid rgba(0, 0, 0, 0.64);
        border-radius: 16px;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #0620B3;
        }
        svg + span {
            margin-left: 10px;
        }
        span {
            display: block;
            font-size: 16px;
            font-weight: bold;
            color: $white-color;
            user-select: none;
        }
    }
}

.role-checkbox {
    display: block;
    margin: 0;
    cursor: pointer;
    &__input {
        display: none;
        &:checked ~ .role-checkbox__image {
            background-color: $green-color;
            border: 4px solid $orange-color;
        }
        &:checked ~ .role-checkbox__label {
            color: $yellow-color;
        }
    }
    &__image {
        position: relative;
        z-index: 1;
        display: block;
        overflow: hidden;
        margin-bottom: 6px;
        min-width: 114px;
        min-height: 78px;
        max-width: 114px;
        max-height: 78px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border: 2px solid $blue-6-color;
        border-radius: 16px;
        box-shadow: $blue-shadow;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    &__label {
        display: block;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        line-height: 2;
        color: $white-color;
        user-select: none;
    }
}

.link {
    font-size: 16px;
    font-weight: 500;
    color: $green-color;
    &:focus {
        outline: none;
    }
    &:hover,
    &:focus {
        color: $yellow-color;
    }
    &:active {
        color: $orange-color;
    }
}

.close-btn {
    display: block;
    padding: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    &:focus {
        outline: none;
    }
    &:focus,
    &:hover {
        svg path {
            stroke: $yellow-color;
        }
    }
    &:active {
        svg path {
            stroke: $orange-color;
        }
    }
}

.switch {
    display: flex;
    align-items: center;
    margin: 0;
    width: fit-content;
    &__input {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        width: 30px;
        height: 18px;
        background: $blue-1-color;
        border: 1px solid $blue-6-color;
        border-radius: 26px;
        appearance: none;
        cursor: pointer;
        transition: background 0.3s;
        &::before {
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            display: block;
            width: 18px;
            height: 18px;
            background: $white-color;
            border: 1px solid $blue-6-color;
            border-radius: 50%;
            transition: all 0.3s;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            margin-left: 4px;
            width: 8px;
            height: 8px;
            border: 1px solid $blue-6-color;
            border-radius: 50%;
            transition: all 0.3s;
        }
        &:checked {
            background: $green-color;
            &::before {
                margin-left: 12px;
            }
            &:after {
                margin-left: 16px;
            }
        }
    }
    &__input[disabled] {
        &::before {
            background: $primary-color;
        }
        &::after {
            margin-left: 1.25rem;
        }
    }
}