@import "config"; // Always at the beginning
@import "header";

// auth
.auth {
    margin: 27px auto 0;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 98px;
    margin: 20px auto 0;
    max-width: 440px;
    width: 100%;
    background: $blue-1-color;
    border-radius: 10px;
    box-shadow: $blue-shadow;
    &__sign-up {
        width: 100%;
    }
    &__sign-up + &__sign-up {
        margin-top: 10px;
    }
    &__sign-up + &__text {
        margin-top: 25px;
    }
    &__title {
        margin-bottom: 17px;
        font-size: 22px;
        font-weight: 800;
    }
    &__text {
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
        white-space: nowrap;
    }
    &__notification {
        margin: 10px 0;
        font-size: 16px;
        font-weight: 500;
        color: $green-color;
    }
    &__input-group {
        margin-top: 10px;
        width: 100%;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__inner + &__sign-up {
        margin-top: 16px;
    }
    &__role + &__role {
        margin-left: 15px;
    }
    &__checkbox {
        margin: 12px auto 0 6px;
        &--center {
            margin: 16px auto 0;
        }
    }
    &__link {
        display: block;
        margin: 14px auto 0 6px;
        width: fit-content;
        font-size: 12px;
        text-align: left;
        text-decoration: underline;
        color: $white-color;
    }
    &__btn {
        margin-top: 18px;
    }
}

// dashboard
.dashboard {
    padding-bottom: 100px;
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__content {
        margin-left: 50px;
        width: 100%;
        h1 {
            display: flex;
            align-items: center;
            &::before {
                content: '1';
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
                min-width: 40px;
                min-height: 40px;
                max-width: 40px;
                max-height: 40px;
                width: 100%;
                height: 100%;
                font-size: 20px;
                font-weight: 800;
                color: $blue-5-color;
                background: $orange-color;
                border-radius: 50%;
            }
        }
    }
    &__img {
        margin-top: 25px;
        width: 100%;
        height: 455px;
        background-color: $green-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        display: block;
        margin-right: 19px;
        font-size: 14px;
        font-weight: normal;
    }
}

// sidebar
.sidebar {
    padding: 25px 14px 16px;
    max-width: 270px;
    min-width: 270px;
    width: 100%;
    background: $blue-1-color;
    border: 2px solid $blue-5-color;
    border-radius: 10px;
    box-shadow: $blue-shadow;
    &__group {
        margin-left: 6px;
    }
    &__group + &__group {
        margin-top: 24px;
    }
    &__title {
        margin-bottom: 7px;
        margin-left: 6px;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        color: $green-color;
        opacity: 0.6;
    }
    &__item {
        &--active {
            .sidebar__link {
                color: $yellow-color;
                background: $blue-3-color;
            }
        }
        &--soon {
            .sidebar__link {
                color: rgba($white-color, 0.4);
                pointer-events: none;
                cursor: default;
                &::after {
                    content: 'Soon';
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    padding: 2px 5px;
                    margin-left: 10px;
                    font-size: 11px;
                    text-transform: uppercase;
                    color: $white-color;
                    background: rgba(#1FC789, 0.5);
                    box-shadow: 0px 1px 0px $blue-4-color;
                    border-radius: 3px;
                }
            }
        }
    }
    &__item + &__item {
        margin-top: 12px;
    }
    &__link {
        padding: 2px 7px;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1;
        color: $white-color;
        border-radius: 4px;
        &:hover {
            color: $yellow-color;
        }
    }
    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 13px;
        margin-top: 33px;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        background: rgba($blue-9-color, 0.2);
        border-radius: 8px;
        &:hover,
        &:focus {
            color: $yellow-color;
            svg path {
                stroke: $yellow-color;
            }
        }
        &--active {
            color: $blue-9-color;
            background: $yellow-color;
            svg path {
                stroke: $blue-9-color;
            }
        }
    }
}

// buddy
.buddy {
    margin: 20px 0 54px;
    width: 100%;
    height: 453px;
    background-color: $blue-4-color;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    border: 2px solid $blue-5-color;
    border-radius: 10px;
    box-shadow: $blue-shadow;
}

// inventory
.inventory {
    margin-top: 32px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__item + &__item {
        margin-left: auto;
    }
    &__item {
        padding: 7px 5px 18px;
        max-width: 180px;
        width: 100%;
        color: $white-color;
        background: $blue-4-color;
        &:nth-child(4n + 1) {
            margin-left: 0;
        }
        &:nth-child(n + 5) {
            margin-top: 21px;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 4px;
    }
    &__price {
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
    &__diamonds {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: normal;
        &::before {
            content: '';
            display: block;
            margin-right: 2px;
            width: 12px;
            height: 12px;
            background-image: url(../img/dist/sprite.svg#icon-diamonds);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__img {
        overflow: hidden;
        margin: 15px auto 10px;
        max-width: 100%;
        max-height: 115px;
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        display: block;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }
}

// balance
.balance {
    display: flex;
    align-items: center;
    &__diamonds {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        &::before {
            content: '';
            display: block;
            margin-right: 8px;
            width: 22px;
            height: 22px;
            background-image: url(../img/dist/sprite.svg#icon-diamonds);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__money {
        display: block;
        padding: 2px 9px;
        margin-left: 8px;
        font-size: 18px;
        font-weight: bold;
        background: rgba($blue-8-color, 0.6);
        border-radius: 5px;
    }
}

// getting started
.getting-started {
    position: relative;
    margin-top: 120px;
    &__controls {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    &__trigger {
        position: relative;
        display: flex;
        align-items: center;
        padding: 17px 23px;
        font-size: 20px;
        font-weight: 800;
        color: $white-color;
        background: $black-color;
        border: 2px solid $blue-5-color;
        border-radius: 16px;
        box-shadow: $blue-shadow;
        &:focus {
            outline: none;
        }
        &:hover,
        &:focus {
            .getting-started__trigger--text {
                color: $yellow-color;
            }
        }
        &:active {
            .getting-started__trigger--text {
                color: $orange-color;
            }
        }
        &::before {
            content: '';
            display: block;
            margin-right: 7px;
            width: 25px;
            height: 16px;
            background-image: url(../img/dist/sprite.svg#icon-getting-started);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &--text {
            transition: color 0.4s;
        }
        &--stage {
            position: absolute;
            top: -21px;
            right: -13px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            background: $red-color;
            border-radius: 50%;
        }
        &--hidden {
            display: none;
        }
    }
    &__close {
        width: 50px;
        height: 50px;
        color: $white-color;
        background: $black-color;
        border: 2px solid $blue-5-color;
        border-radius: 50%;
        box-shadow: $blue-shadow;
        &--hidden {
            display: none;
        }
    }
    &__wrapper {
        position: absolute;
        top: -7px;
        right: 0;
        transform: translateY(-100%);
        display: none;
        padding: 18px 24px 24px;
        max-width: 375px;
        width: 100%;
        background: $blue-5-color;
        border: 2px solid $white-color;
        border-radius: 10px;
        box-shadow: $blue-shadow;
        &--active {
            display: block;
        }
    }
    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__head {
        font-size: 20px;
        font-weight: 800;
    }
    &__lines {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__line {
        width: 100%;
        height: 5px;
        background: rgba($white-color, 0.24);
        &--active {
            background: $yellow-color;
        }
    }
    &__line + &__line {
        margin-left: 4px;
    }
    &__list {
        margin-top: 25px;
        counter-reset: counter-stage;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        &--success {
            .getting-started__counter {
                background-color: transparent;
                background-image: url(../img/dist/sprite.svg#icon-checkbox-green);
                background-repeat: no-repeat;
                background-size: 16px;
                background-position: center center;
                border: 3px solid $green-color;
                &::before {
                    content: '';
                }
            }
        }
        &--active {
            .getting-started__description,
            .getting-started__btn {
                display: block;
            }
        }
        &--disabled {
            opacity: 0.4;
        }
    }
    &__item + &__item {
        margin-top: 30px;
    }
    &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        font-size: 20px;
        font-weight: 800;
        line-height: 1.2;
        color: $blue-5-color;
        background: $orange-color;
        border-radius: 50%;
        &::before {
            counter-increment: counter-stage;
            content: counter(counter-stage);
        }
    }
    &__content {
        margin-top: 11px;
        margin-left: 18px;
    }
    &__title {
        font-size: 15px;
        font-weight: 800;
    }
    &__description {
        display: none;
        margin-top: 6px;
        font-size: 14px;
        opacity: 0.7;
    }
    &__btn {
        display: none;
        padding: 5.5px 16px;
        margin-top: 17px;
        min-width: 148px;
        width: fit-content;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: $blue-9-color;
        background: $green-color;
        border: 0;
        border-radius: 16px;
        &::after {
            content: '';
            display: inline-block;
            margin-top: -2px;
            margin-left: 11px;
            width: 14px;
            height: 14px;
            vertical-align: middle;
            background-image: url(../img/dist/sprite.svg#arrow-go-to);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &:focus {
            outline: none;
        }
        &:hover,
        &:focus {
            color: $blue-9-color;
            background: $green-hover-color;
        }
    }
}

// media
@import "media";