@import "config"; // Always at the beginning
@import "header";
@import "modal";

// auth
.auth {
    margin: 27px auto 0;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 98px;
    margin: 20px auto 0;
    max-width: 440px;
    width: 100%;
    background: $blue-1-color;
    border-radius: 10px;
    box-shadow: $blue-shadow;
    &__sign-up {
        width: 100%;
    }
    &__sign-up + &__sign-up {
        margin-top: 10px;
    }
    &__sign-up + &__text {
        margin-top: 25px;
    }
    &__title {
        margin-bottom: 17px;
        font-size: 22px;
        font-weight: 800;
    }
    &__text {
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
        white-space: nowrap;
    }
    &__notification {
        margin: 10px 0;
        font-size: 16px;
        font-weight: 500;
        color: $green-color;
    }
    &__input-group {
        margin-top: 10px;
        width: 100%;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__inner + &__sign-up {
        margin-top: 16px;
    }
    &__role + &__role {
        margin-left: 15px;
    }
    &__checkbox {
        margin: 12px auto 0 6px;
        &--center {
            margin: 16px auto 0;
        }
    }
    &__link {
        display: block;
        margin: 14px auto 0 6px;
        width: fit-content;
        font-size: 12px;
        text-align: left;
        text-decoration: underline;
        color: $white-color;
    }
    &__btn {
        margin-top: 18px;
    }
}

// dashboard
.dashboard {
    padding-bottom: 100px;
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__content {
        margin-left: 50px;
        width: 100%;
        h1 {
            display: flex;
            align-items: center;
            &::before {
                content: '1';
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
                min-width: 40px;
                min-height: 40px;
                max-width: 40px;
                max-height: 40px;
                width: 100%;
                height: 100%;
                font-size: 20px;
                font-weight: 800;
                color: $blue-5-color;
                background: $orange-color;
                border-radius: 50%;
            }
        }
    }
    &__img {
        margin-top: 25px;
        width: 100%;
        height: 455px;
        background-color: $green-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--border {
            border-bottom: 3px solid $blue-5-color;
        }
    }
    &__text {
        display: block;
        margin-right: 19px;
        font-size: 14px;
        font-weight: normal;
    }
}

// sidebar
.sidebar {
    padding: 25px 14px 16px;
    max-width: 270px;
    min-width: 270px;
    width: 100%;
    background: $blue-1-color;
    border: 2px solid $blue-5-color;
    border-radius: 10px;
    box-shadow: $blue-shadow;
    &__group {
        margin-left: 6px;
    }
    &__group + &__group {
        margin-top: 24px;
    }
    &__title {
        margin-bottom: 7px;
        margin-left: 6px;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        color: $green-color;
        opacity: 0.6;
    }
    &__item {
        &--active {
            .sidebar__link {
                color: $yellow-color;
                background: $blue-3-color;
            }
        }
        &--soon {
            .sidebar__link {
                color: rgba($white-color, 0.4);
                pointer-events: none;
                cursor: default;
                &::after {
                    content: 'Soon';
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    padding: 2px 5px;
                    margin-left: 10px;
                    font-size: 11px;
                    text-transform: uppercase;
                    color: $white-color;
                    background: rgba(#1FC789, 0.5);
                    box-shadow: 0px 1px 0px $blue-4-color;
                    border-radius: 3px;
                }
            }
        }
    }
    &__item + &__item {
        margin-top: 12px;
    }
    &__link {
        padding: 2px 7px;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1;
        color: $white-color;
        border-radius: 4px;
        &:hover {
            color: $yellow-color;
        }
    }
    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 13px;
        margin-top: 33px;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        background: rgba($blue-9-color, 0.2);
        border-radius: 8px;
        &:hover,
        &:focus {
            color: $yellow-color;
            svg path {
                stroke: $yellow-color;
            }
        }
        &--active {
            color: $blue-9-color;
            background: $yellow-color;
            svg path {
                stroke: $blue-9-color;
            }
        }
    }
}

// buddy
.buddy {
    margin: 20px 0 54px;
    width: 100%;
    height: 453px;
    background-color: $blue-4-color;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    border: 2px solid $blue-5-color;
    border-radius: 10px;
    box-shadow: $blue-shadow;
}

// inventory
.inventory {
    margin-top: 32px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__item + &__item {
        margin-left: auto;
    }
    &__item {
        padding: 7px 5px 18px;
        max-width: 180px;
        width: 100%;
        color: $white-color;
        background: $blue-4-color;
        &:nth-child(4n + 1) {
            margin-left: 0;
        }
        &:nth-child(n + 5) {
            margin-top: 21px;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 4px;
    }
    &__price {
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
    &__diamonds {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: normal;
        &::before {
            content: '';
            display: block;
            margin-right: 2px;
            width: 12px;
            height: 12px;
            background-image: url(../img/dist/sprite.svg#icon-diamonds);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__img {
        overflow: hidden;
        margin: 15px auto 10px;
        max-width: 100%;
        max-height: 115px;
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        display: block;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }
}

// balance
.balance {
    display: flex;
    align-items: center;
    &--sm {
        .balance {
            &__diamonds {
                font-size: 18px;
                &::before {
                    margin-right: 8px;
                    width: 22px;
                    height: 22px;
                }
            }
            &__money {
                padding: 2px 9px;
                margin-left: 8px;
                font-size: 18px;
            }
        }
    }
    &--lg {
        .balance {
            &__diamonds {
                font-size: 25px;
                &::before {
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                }
            }
            &__money {
                padding: 2px 11px;
                margin-left: 10px;
                font-size: 25px;
            }
        }
    }
    &__diamonds {
        display: flex;
        align-items: center;
        font-weight: bold;
        &::before {
            content: '';
            display: block;
            background-image: url(../img/dist/sprite.svg#icon-diamonds);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__money {
        display: block;
        font-weight: bold;
        background: rgba($blue-8-color, 0.6);
        border-radius: 5px;
    }
}

// getting started
.getting-started {
    position: relative;
    margin-top: 120px;
    &__controls {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    &__trigger {
        position: relative;
        display: flex;
        align-items: center;
        padding: 17px 23px;
        font-size: 20px;
        font-weight: 800;
        color: $white-color;
        background: $black-color;
        border: 2px solid $blue-5-color;
        border-radius: 16px;
        box-shadow: $blue-shadow;
        &:focus {
            outline: none;
        }
        &:hover,
        &:focus {
            .getting-started__trigger--text {
                color: $yellow-color;
            }
        }
        &:active {
            .getting-started__trigger--text {
                color: $orange-color;
            }
        }
        &::before {
            content: '';
            display: block;
            margin-right: 7px;
            width: 25px;
            height: 16px;
            background-image: url(../img/dist/sprite.svg#icon-getting-started);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &--text {
            transition: color 0.4s;
        }
        &--stage {
            position: absolute;
            top: -21px;
            right: -13px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            background: $red-color;
            border-radius: 50%;
        }
        &--hidden {
            display: none;
        }
    }
    &__close {
        width: 50px;
        height: 50px;
        color: $white-color;
        background: $black-color;
        border: 2px solid $blue-5-color;
        border-radius: 50%;
        box-shadow: $blue-shadow;
        &--hidden {
            display: none;
        }
    }
    &__wrapper {
        position: absolute;
        top: -7px;
        right: 0;
        transform: translateY(-100%);
        display: none;
        padding: 18px 24px 24px;
        max-width: 375px;
        width: 100%;
        background: $blue-5-color;
        border: 2px solid $white-color;
        border-radius: 10px;
        box-shadow: $blue-shadow;
        &--active {
            display: block;
        }
    }
    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__head {
        font-size: 20px;
        font-weight: 800;
    }
    &__lines {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__line {
        width: 100%;
        height: 5px;
        background: rgba($white-color, 0.24);
        &--active {
            background: $yellow-color;
        }
    }
    &__line + &__line {
        margin-left: 4px;
    }
    &__list {
        margin-top: 25px;
        counter-reset: counter-stage;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        &--success {
            .getting-started__counter {
                background-color: transparent;
                background-image: url(../img/dist/sprite.svg#icon-checkbox-green);
                background-repeat: no-repeat;
                background-size: 16px;
                background-position: center center;
                border: 3px solid $green-color;
                &::before {
                    content: '';
                }
            }
        }
        &--active {
            .getting-started__description,
            .getting-started__btn {
                display: block;
            }
        }
        &--disabled {
            opacity: 0.4;
        }
    }
    &__item + &__item {
        margin-top: 30px;
    }
    &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        font-size: 20px;
        font-weight: 800;
        line-height: 1.2;
        color: $blue-5-color;
        background: $orange-color;
        border-radius: 50%;
        &::before {
            counter-increment: counter-stage;
            content: counter(counter-stage);
        }
    }
    &__content {
        margin-top: 11px;
        margin-left: 18px;
    }
    &__title {
        font-size: 15px;
        font-weight: 800;
    }
    &__description {
        display: none;
        margin-top: 6px;
        font-size: 14px;
        opacity: 0.7;
    }
    &__btn {
        display: none;
        padding: 5.5px 16px;
        margin-top: 17px;
        min-width: 148px;
        width: fit-content;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: $blue-9-color;
        background: $green-color;
        border: 0;
        border-radius: 16px;
        &::after {
            content: '';
            display: inline-block;
            margin-top: -2px;
            margin-left: 11px;
            width: 14px;
            height: 14px;
            vertical-align: middle;
            background-image: url(../img/dist/sprite.svg#arrow-go-to);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &:focus {
            outline: none;
        }
        &:hover,
        &:focus {
            color: $blue-9-color;
            background: $green-hover-color;
        }
    }
}

// tabs
.tabs {
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        &--active {
            .tabs__button {
                color: $blue-9-color;
                background: $orange-color;
                &:hover,
                &:focus {
                    color: $blue-9-color;
                }
            }
        }
    }
    &__item + &__item {
        margin-left: -1px;
    }
    &__button {
        display: block;
        padding: 10px;
        min-width: 111px;
        font-size: 14px;
        font-weight: 600;
        color: $white-color;
        background: $blue-1-color;
        border: 1px solid $blue-5-color;
        border-radius: 10px 10px 0 0;
        transition: all 0.4s;
        &:focus {
            outline: none;
        }
        &:hover,
        &:focus {
            color: $orange-color;
        }
    }
    &__content {
        display: none;
        margin-top: 26px;
        &--active {
            display: block;
        }
    }
    &__wrap {
        display: flex;
        margin-top: 30px;
    }
    &__wrapper {
        width: 100%;
        &--medium {
            max-width: 483px;
        }
        &--ultra {
            max-width: 493px;
            .tabs__inner {
                & > .tabs__text:first-child {
                    margin-right: 25px;
                    max-width: 146px;
                }
            }
            .tabs__submit {
                margin-left: 171px;
            }
        }
    }
    &__wrapper + &__wrapper {
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid rgba($white-color, 0.1);
    }
    &__info {
        padding: 34px 27px 40px 22px;
        margin-left: 40px;
        min-width: 402px;
        color: $white-color;
        background: $blue-4-color;
        border: 2px solid $blue-5-color;
        border-radius: 10px;
        ul li {
            display: flex;
            align-items: flex-start;
            font-size: 14px;
            font-weight: 300;
            &::before {
                content: '';
                display: block;
                margin-top: 6px;
                margin-right: 16px;
                max-width: 6px;
                max-height: 6px;
                min-width: 6px;
                min-height: 6px;
                background: $orange-color;
                border-radius: 50%;
            }
        }
        li + li {
            margin-top: 8px;
        }
        p {
            font-size: 14px;
            font-weight: 300;
        }
        ul + * {
            margin-top: 24px;
        }
    }
    &__description {
        font-size: 16px;
        font-weight: 500;
    }
    &__description + &__wrapper {
        margin-top: 24px;
    }
    &__inner {
        display: flex;
        align-items: center;
        &--start {
            align-items: flex-start;
            & > .tabs__text:first-child {
                margin-top: 11px;
            }
        }
        & > .tabs__text:first-child {
            margin-right: 35px;
            max-width: 204px;
            width: 100%;
        }
    }
    &__inner + &__inner {
        margin-top: 15px;
    }
    &__inner + &__inner--mt {
        margin-top: 40px;
    }
    &__column {
        width: 100%;
    }
    &__text {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        &--bold {
            font-weight: bold;
        }
        svg {
            max-width: 24px;
            min-width: 24px;
            width: 100%;
        }
        svg + span {
            display: block;
            margin-left: 10px;
        }
    }
    &__group {
        display: flex;
        align-items: center;
        width: 100%;
        .tabs__select + .tabs__select {
            margin-left: 12px;
        }
    }
    &__input {
        max-width: 380px;
        width: 100%;
        &--sm {
            max-width: 127px;
        }
    }
    &__input-shell + &__text {
        margin-left: 8px;
    }
    &__input-shell + &__input-shell {
        margin-top: 12px;
    }
    &__input-link {
        max-width: 300px;
    }
    &__btn + &__edit {
        margin-left: 20px;
    }
    &__edit {
        font-size: 16px;
        text-decoration: underline;
        color: $white-color;
    }
    &__edit + &__edit {
        margin-left: 14px;
    }
    &__submit {
        margin-top: 30px;
        width: fit-content;
        &--center {
            margin-left: 239px;
        }
    }
    &__link {
        margin-top: 5px;
        margin-left: 5px;
    }
    &__connect-btn + &__checkbox {
        margin-left: 20px;
    }
}

// tooltip
.tooltip {
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    &:hover {
        .tooltip__wrapper {
            display: block;
        }
    }
    &__icon {
        &::after {
            content: '?';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            font-size: 10px;
            font-weight: 500;
            line-height: 1;
            border: 2px solid rgba($white-color, 0.1);
            border-radius: 50%;
        }
    }
    &__wrapper {
        position: absolute;
        top: -4px;
        left: 3px;
        z-index: 100;
        transform: translate(-50%, -100%);
        display: none;
        overflow: hidden;
        padding: 7.5px 10px 18.5px;
        max-width: 176px;
        min-width: 176px;
        min-height: 57.5px;
        max-height: 57.5px;
        width: 100%;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        background-image: url(../img/dist/sprite.svg#tooltip-bg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &--active {
            display: block;
        }
        p { 
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

// payment
.payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: $white-color;
    background: $blue-4-color;
    &__info {
        padding-left: 23px;
    }
    &__text {
        display: block;
        font-size: 14px;
    }
    &__balance {
        margin: 11px 0 22px;
    }
    &__help {
        display: block;
        font-size: 12px;
    }
    &__methods {
        padding: 25px;
        max-width: 430px;
        width: 100%;
        background: rgba($primary-color, 0.07);
        border: 1px solid rgba($white-color, 0.1);
        border-radius: 10px;
    }
}

.methods-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__radio + &__radio {
        margin-top: 18px;
    }
    &__btn {
        min-width: 180px;
        font-size: 20px;
        font-weight: 800;
    }
}

// payment table
.payment-table {
    margin-top: 20px;
    width: 100%;
    table-layout: fixed;
    thead td {
        padding: 17px 11px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: $green-color;
    }
    tbody tr:nth-child(odd) {
        background: rgba($white-color, 0.1);
    }
    tbody td {
        padding: 10px 11px;
        font-size: 14px;
        font-weight: normal;
        color: $white-color;
    }
    tbody td:last-child {
        display: flex;
        align-items: center;
        &::before {
            content: '';
            display: block;
            margin-right: 10px;
            width: 17px;
            height: 17px;
            background-image: url(../img/dist/sprite.svg#icon-diamonds);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
}

// socials
.socials {
    &__item {
        max-width: 180px;
        width: 100%;
    }
    &__item + &__item {
        margin-top: 11px;
    }
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        padding: 7px 0;
        min-width: 180px;
        min-height: 43px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        color: $white-color;
        background: $blue-4-color;
        border: 2px solid rgba($white-color, 0.1);
        border-radius: 10px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 42px;
            display: block;
            width: 2px;
            height: 100%;
            background: rgba($white-color, 0.1);
        }
        &--icon {
            display: block;
            width: 42px;
            text-align: center;
        }
        &--text {
            display: block;
            margin-left: 12px;
        }
    }
}

// colors
.colors {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    z-index: 10;
    &:hover {
        .colors__list {
            display: flex;
        }
    }
    &__current {
        width: 17px;
        height: 17px;
        border: 1px solid rgba($white-color, 0.4);
        border-radius: 5px;
        cursor: pointer;
    }
    &__list {
        position: absolute;
        top: 23px;
        left: 0;
        z-index: 1;
        display: none;
        flex-wrap: wrap;
        padding: 13px 12px;
        max-width: 93px;
        min-width: 93px;
        width: 100%;
        background: #1A1D2F;
        border: 2px solid rgba($white-color, 0.1);
        border-radius: 10px;
    }
    &__item {
        &:nth-child(3n),
        &:nth-child(3n - 1) {
            margin-left: 7px;
        }
        &:nth-child(n + 4) {
            margin-top: 7px;
        }
    }
    &__btn {
        display: block;
        width: 17px;
        height: 17px;
        border: 1px solid rgba($white-color, 0.4);
        border-radius: 5px;
    }
}

// data card
.data-card {
    padding: 26px;
    margin-top: 20px;
    background: $blue-3-color;
    border: 2px solid $black-color;
    border-radius: 24px;
    box-shadow: 0 4px 0 $black-color;
    &__group {
        width: 100%;
    }
    &__help {
        display: block;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__input {
        display: block;
        appearance: none;
        padding: 5px 11px;
        margin-top: 10px;
        width: 100%;
        font-size: 18px;
        font-weight: 800;
        line-height: 2;
        color: $white-color;
        background: $blue-4-color;
        border: 2px solid rgba($white-color, 0.1);
        border-radius: 10px;
        transition: all 0.4s;
        &:hover {
            border: 2px solid rgba($green-color, 0.5);
        }
        &:focus {
            outline: none;
            border: 2px solid $green-color;
        }
    }
    &__input[disabled] {
        color: rgba($white-color, 0.1);
        &:hover {
            border: 2px solid rgba($white-color, 0.1);
        }
    }
    &__input[type=number] {
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
            appearance: none;
            margin: 0;
        }
    }
    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 16px;
    }
    &__logotype {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 14px;
        min-width: 70px;
        height: 50px;
    }
}

// account status
.account-status {
    display: flex;
    margin: 26px 0 36px;
    &__item {
        position: relative;
        display: block;
        padding: 10px 7.5px 14px;
        max-width: 80px;
        width: 100%;
        text-align: center;
        color: $white-color;
        background: $blue-2-color;
        border: 2px solid $blue-5-color;
        border-radius: 10px;
        box-shadow: $blue-shadow;
        &:hover {
            background: $blue-1-color;
            box-shadow: $blue-shadow-active;
        }
        &--active {
            color: $blue-9-color;
            background: $green-color;
            &:hover {
                color: $blue-9-color;
                background: $green-color;
                box-shadow: $blue-shadow;
            }
        }
    }
    &__item + &__item {
        margin-left: 46px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(-50% - 5.5px);
            transform: translate(100%, -50%);
            display: inline-block;
            width: 11px;
            height: 11px;
            opacity: 0.5;
            background-image: url(../img/dist/sprite.svg#arrow-next);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__icon {
        margin: 0 auto;
        min-width: 22px;
        max-width: 22px;
        min-height: 22px;
        max-height: 22px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__name {
        display: block;
        margin-top: 7px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
}

// verification info
.verification-info {
    display: flex;
    justify-content: space-between;
    padding: 24px 47px 24px 22px;
    max-width: 652px;
    width: 100%;
    color: $white-color;
    background: $blue-4-color;
    border: 2px solid $blue-5-color;
    border-radius: 10px;
    &__block {
        width: 100%;
        &:first-child {
            max-width: 300px;
        }
        &:last-child {
            max-width: 222px;
        }
    }
    &__icon {
        margin-bottom: 21px;
        width: 65px;
        height: 44px;
        background-image: url(../img/dist/sprite.svg#icon-verification);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__title {
        font-size: 25px;
        font-weight: bold;
    }
    &__list {
        margin-top: 16px;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        max-width: 300px;
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        &::before {
            content: '';
            display: block;
            margin-top: 8px;
            margin-right: 19px;
            max-width: 6px;
            max-height: 6px;
            min-width: 6px;
            min-height: 6px;
            background: $orange-color;
            border-radius: 50%;
        }
    }
    &__item + &__item {
        margin-top: 16px;
    }
    &__img {
        margin: 0 auto;
        max-width: 222px;
        width: 100%;
    }
    &__help {
        display: block;
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
    }
}

// media
@import "media";